@use '@new-ui/foundations';

@font-face{
  font-family: 'Serif';
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  src: url('/Serif.otf.woff2') format('woff2'),
       url('/Serif.otf.woff2') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}

html, body, div, span, applet, button, input, select, textarea,
object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, main, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  background: transparent;
  border: 0;
  font: inherit;
  font-size: 100%;
  outline: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, img, svg {
  display: block;
}

figure {
  margin-top: var(--spacing-08);
  margin-left: calc(var(--spacing-06) * -1);
}

ol,
ul,
menu {
  list-style: none;
}

body {
  background: var(--background);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;

  font-family: "Serif", Charter, Bitstream Charter, Sitka Text, Cambria, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-feature-settings: 'liga', 'dlig';
  font-size: var(--desktop-body-xl);
  line-height: var(--lh-desktop-body-xl);
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports(-webkit-touch-callout: none) {
  body {
    min-height: -webkit-fill-available;
  }
}

header,
main {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: min(100%, 48rem);
}

header {
  height: var(--spacing-16);

  h1 {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;

    a {
      height: var(--spacing-11);
      max-width: 5.96em;

      span {
        display: none;
      }

      img {
        height: 100%;
        max-height: 100%;
        width: auto;
      }
    }
  }
}

main {
  flex: 1;
  margin-bottom: var(--spacing-15);

  > * + * {
    margin-top: var(--spacing-08);
  }
}

ol,
ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-02);

  li {
    position: relative;

    &::before {
      font-feature-settings: 'case', 'tnum';
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}

ol {
  counter-reset: counter;

  li {
    counter-increment: counter;
    padding-left: var(--spacing-09);

    &::before {
      content: counter(counter) '.';
      text-align: right;
      width: var(--spacing-08);
    }
  }
}

ul {
  padding: 0;

  li {
    padding-left: var(--spacing-08);

    &::before {
      content: '—';
      opacity: 0.24;
    }
  }
}

dl {
  font-feature-settings: 'case';
  font-size: var(--desktop-body);
  line-height: var(--lh-desktop-body);
  margin-top: var(--spacing-04);
  margin-bottom: var(--spacing-10);

  dt {
    font-weight: 600;
  }

  dd {
    color: var(--text-secondary);
  }
}

form {
  margin-bottom: var(--spacing-13);
  position: relative;
  user-select: none;
  -webkit-user-select: none;

  aside {
    display: flex;
    position: relative;

    fieldset {
      display: flex;
      left: 0;
      position: absolute;
      padding: var(--spacing-00);
      width: 100%;
    }
  }
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--background);
  border: 1px solid var(--border-muted);
  border-radius: var(--spacing-03);
  color: var(--text-primary);
  flex: 1;
  padding: var(--spacing-03) var(--spacing-05);
  width: calc(var(--spacing-17) * 3);

  &::placeholder {
    color: var(--text-placeholder);
  }

  &:hover {
    border-color: var(--border);
  }

  &:focus {
    border-color: var(--border);
    outline: 1px solid var(--order-focus);
    outline-offset: 0;
  }
}

.button {
  align-items: center;
  background: var(--button);
  border-radius: var(--spacing-02);
  color: var(--text-on-color);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, sans-serif;
  font-weight: 600;
  height: 32px;
  padding: 0.25em 1.3em;
  position: inherit;
  right: var(--spacing-02);
  text-decoration: none;
  top: var(--spacing-02);
  white-space: nowrap;

  &:hover {
    background: var(--button-hover);
  }

  &:active {
    background: var(--button-active);
  }
}

a {
  color: var(--link);
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 0.06em;
  text-underline-offset: 0.1em;

  &:hover {
    color: var(--link-hover);
  }

  &:visited {
    color: var(--link-visited);
  }
}

b,
strong {
  font-weight: 600;
  letter-spacing: normal;
}

i,
em {
  font-style: italic;
}

@media (max-width: 50rem) {
  header,
  main {
    padding-left: var(--spacing-09);
    padding-right: var(--spacing-09);
  }

  main form aside fieldset input {
    width: 100%;
  }

  .button {
    height: 30px;
    right: var(--spacing-02);
    top: var(--spacing-02);
  }
}