@import "@new-ui/foundations";

*,
*::before,
*::after {
    box-sizing: border-box
}

html,
body,
div,
span,
applet,
button,
input,
select,
textarea,
object,
iframe h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    background: transparent;
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    min-width: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
img,
svg {
    display: block
}

ol,
ul,
menu {
    list-style: none
}

:root {
    --serif: 'Source Serif 4', serif
}

html {
    min-height: -webkit-fill-available;
    scroll-behavior: smooth
}

body {
    background: var(--background);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    font-family: var(--serif);
    font-feature-settings: 'liga', 'dlig';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    min-height: 100vh;
    text-rendering: optimizeLegibility
}

@supports(-webkit-touch-callout: none) {
    body {
        min-height: -webkit-fill-available
    }
}

header,
main {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: min(100%, 32em)
}

header {
    height: var(--spacing-16, 6em)
}

header h1 {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end
}

header h1 a {
    height: var(--spacing-11, 3em);
    max-width: 5.96em
}

header h1 a span {
    display: none
}

header h1 a img {
    height: 100%;
    max-height: 100%;
    width: auto
}

main {
    flex: 1;
    margin-bottom: var(--spacing-15, 5em)
}

main>*+* {
    margin-top: var(--spacing-08, 1.5em)
}

ol,
ul {
    display: flex;
    flex-direction: column
}

ol li,
ul li {
    position: relative
}

ol li:before,
ul li:before {
    font-feature-settings: 'case', 'tnum';
    left: 0;
    position: absolute;
    top: 0
}

ol {
    counter-reset: counter;
    gap: var(--spacing-02)
}

ol li {
    counter-increment: counter;
    padding-left: var(--spacing-09)
}

ol li:before {
    content: counter(counter) '.';
    text-align: right;
    width: var(--spacing-08)
}

ul {
    gap: var(--spacing-02)
}

ul li {
    padding-left: var(--spacing-06)
}

ul li:before {
    content: '—';
    opacity: 0.24
}

figure {
    width: calc(var(--spacing-13) * 3);
    margin-top: var(--spacing-11);
    margin-left: calc(var(--spacing-04) * -1)
}

figure img {
    height: auto;
    max-width: 100%;
    width: 100%
}

dl {
    font-feature-settings: 'case';
    font-size: var(--desktop-body);
    line-height: var(--lh-desktop-body);
    margin-top: var(--spacing-04)
}

dl dt {
    font-weight: 600
}

form {
    margin-bottom: var(--spacing-13);
    position: relative;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none
}

form aside {
    display: flex;
    position: relative
}

form aside fieldset {
    display: flex;
    left: 0;
    position: absolute;
    padding: var(--spacing-00);
    width: 100%;
}

input {
    background-color: var(--background);
    border: 1px solid var(--border-muted);
    border-radius: var(--spacing-03);
    width: calc(var(--spacing-17) * 3);
    appearance: none;
    color: var(--text-primary);
    flex: 1;
    padding: var(--spacing-03) var(--spacing-05);
}

input ::placeholder {
    color: var(--text-placeholder)
}

input:hover {
    border-color: var(--border)
}

input:focus {
    border-color: var(--border);
    outline: 1px solid var(--order-focus);
    outline-offset: 0
}

.button {
    background: var(--button-primary);
    border-radius: var(--spacing-02);
    color: var(--text-on-color);
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;
    padding: 0.25em 1.3em;
    text-decoration: none;
    white-space: nowrap;
    align-items: center;
    position: inherit;
    top: var(--spacing-02);
    right: var(--spacing-02);
    height: 32px;
}

a {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 0.06em;
    text-underline-offset: 0.1em;
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
}

a:visited {
    color: var(--link-visited);
}

b,
strong {
    font-weight: 600;
    letter-spacing: normal;
}

i,
em {
    font-style: italic;
}

@media (max-width: 50rem) {

    header,
    main {
        padding-left: var(--spacing-09, 2em);
        padding-right: var(--spacing-09, 2em);
    }
    main form aside fieldset input {
      width: 100%;
    }
    .button {
      top: var(--spacing-02);
      right: var(--spacing-02);
      height: 30px;
    }
}